:root {
  --primaryColor: #f09d51;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 60px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--mainGrey);
  z-index: 1;
}

.navbar .navbar-center {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 1.5em;
}

.navbar .navbar-center h1 {
  color: var(--primaryColor);
  font-size: 2em;
}

.navbar .navbar-center .top-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.navbar .navbar-center .top-menu .menu-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navbar a {
  text-transform: none;
  text-decoration: none;
  color: var(--mainBlack);
}

.navbar .nav-icon {
  font-size: 1.5em;
}

.navbar .cart-btn {
  position: relative;
  cursor: pointer;
}

.navbar .cart-items {
  position: absolute;
  top: -8px;
  right: -9px;
  background-color: var(--primaryColor);
  padding: 0 5px;
  border-radius: 30%;
  color: var(--mainWhite);
}

footer {
  position: fixed;
  bottom: 0;
  height: 60px;
  width: 100%;
  background-color: var(--mainGrey);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer a {
  text-decoration: none;
  color: var(--mainBlack);
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
}

.hero {
  min-height: calc(30vh - 60px);
  text-align: center;
  background: url("./JWDP5/images/oak-banner.jpg") center/cover no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 0;
}

.hero .banner {
  text-align: center;
  background-color: white;
  display: inline-block;
}

.hero .banner-index {
  padding: 1.5rem;
  opacity: 0.8;
}

.hero .banner-title {
  font-size: 35px;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
}

.hero .banner-btn {
  padding: 10px 30px;
  text-transform: uppercase;
  font-weight: bold;
  background-color: var(--primaryColor);
  color: var(--mainBlack);
  border: 1px solid var(--primaryColor);
  -webkit-transition: var(--mainTransition);
  transition: var(--mainTransition);
  cursor: pointer;
}

.hero .banner-btn:hover {
  background: transparent;
  color: var(--primaryColor);
}

.section-title {
  text-align: center;
  text-transform: capitalize;
}

.index-products {
  padding: 100px 0;
}

.index-products .section-title h2 {
  margin-bottom: 50px;
  margin-top: -40px;
}

.index-products .products-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 960px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(400px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-column-gap: 1em;
  grid-row-gap: 3em;
}

.index-products .products-center .product .furniture-name {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.index-products .products-center .product .img-container {
  text-align: center;
  position: relative;
}

.index-products .products-center .product .button-container {
  text-align: center;
}

.index-products .products-center .product .button-container .product-link {
  margin-top: 20px;
  padding: 5px 25px;
  background-color: var(--primaryColor);
  color: var(--mainBlack);
  border: 1px solid var(--primaryColor);
  text-align: center;
  cursor: pointer;
}

.index-products .products-center .product .button-container .product-link a {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
}

.products-product {
  padding: 50px 0;
  width: 90vw;
  margin: 0 auto;
  max-width: 960px;
}

.products-product .furniture-name {
  margin-bottom: 25px;
  text-align: center;
  text-transform: uppercase;
}

.products-product .product-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.products-product .product-container .product-information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-left: 30px;
}

.products-product .button-container {
  text-align: center;
  margin-top: 50px;
}

.products-product .button-container button {
  padding: 10px 60px;
  text-transform: uppercase;
  font-weight: bold;
  background-color: var(--primaryColor);
  color: var(--mainBlack);
  border: 1px solid var(--primaryColor);
  -webkit-transition: var(--mainTransition);
  transition: var(--mainTransition);
  cursor: pointer;
}

.products-product .button-container button:hover {
  background: transparent;
  color: var(--primaryColor);
}

.shopping-cart {
  padding: 50px 0;
  width: 90vw;
  margin: 0 auto;
  max-width: 960px;
}

.shopping-cart .section-title {
  margin-bottom: 25px;
}

.shopping-cart .product-information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-transform: uppercase;
  font-size: large;
  padding: 25px 0;
}

.shopping-cart .product-information .product-title {
  width: 30%;
}

.shopping-cart .cart-total {
  width: 50%;
  margin-left: auto;
  padding-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-transform: uppercase;
}

.section-form {
  width: 90vw;
  margin: 0 auto;
  max-width: 960px;
  margin-bottom: 100px;
}

.section-form .cart-form {
  padding: 20px 0;
  width: 100%;
  background-color: var(--primaryColor);
}

.section-form .cart-form .cart-form-input label {
  display: inline-block;
  width: 20%;
  vertical-align: top;
  margin: 10px 20px;
  text-transform: capitalize;
}

.section-form .cart-form .cart-form-input .form-box {
  margin: 10px;
  width: 60%;
}

.section-form .cart-form .cart-checkbox {
  margin: 10px 20px;
}

.section-form .cart-form .btn-send-cart-form {
  width: 50%;
  text-align: center;
  padding: 6px 0;
  text-transform: uppercase;
  cursor: pointer;
  margin-left: 25%;
}

.order-products {
  padding: 50px 0;
  margin: 0 auto;
  max-width: 960px;
  margin-bottom: 100px;
}

.order-products .section-title {
  margin-bottom: 25px;
}

.order-products .product-container {
  margin: 0 20px;
}

.order-products .product-container .order-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-transform: uppercase;
  font-size: large;
  padding: 25px 0;
}

.order-products .total-price {
  width: 50%;
  margin-left: auto;
  padding-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-transform: uppercase;
  margin-right: 20px;
}

.dropbtn {
  color: black;
  padding: 16px;
  font-size: 1.4em;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}
/*# sourceMappingURL=style.css.map */